/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/rvm/gems/ruby-2.1.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@media (min-width: 320px) {
  /* line 1, ../sass/partials/_min-width-320px.scss */
  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 5, ../sass/partials/_min-width-320px.scss */
  html {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

  /* line 10, ../sass/partials/_min-width-320px.scss */
  body.default, body.homeBg, body.workBg, body.blogBg, body.contactBg {
    margin: 0;
    padding: 0;
  }

  /* line 14, ../sass/partials/_min-width-320px.scss */
  body.homeBg {
    background-color: #2980b9;
  }

  /* line 18, ../sass/partials/_min-width-320px.scss */
  body.workBg {
    background-color: #27ae60;
  }

  /* line 22, ../sass/partials/_min-width-320px.scss */
  body.blogBg {
    background-color: #c0392b;
  }

  /* line 26, ../sass/partials/_min-width-320px.scss */
  body.contactBg {
    background-color: #8e44ad;
  }

  /* line 30, ../sass/partials/_min-width-320px.scss */
  header.default, header.home, header.work, header.blog, header.contact {
    height: 17rem;
    margin: 0;
    padding: 0;
  }

  /* line 36, ../sass/partials/_min-width-320px.scss */
  header.short, header.single-post, header.single-project {
    height: 6rem;
    margin: 0;
    padding: 0;
  }

  /* line 41, ../sass/partials/_min-width-320px.scss */
  header.home {
    background: url("../img/background-home.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 45, ../sass/partials/_min-width-320px.scss */
  header.work {
    background: url("../img/background-work.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 49, ../sass/partials/_min-width-320px.scss */
  header.blog {
    background: url("../img/background-blog.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 53, ../sass/partials/_min-width-320px.scss */
  header.contact {
    background: url("../img/background-contact.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 57, ../sass/partials/_min-width-320px.scss */
  header.single-post {
    background: url("../img/background-blog.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 61, ../sass/partials/_min-width-320px.scss */
  header.single-project {
    background: url("../img/background-work.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 65, ../sass/partials/_min-width-320px.scss */
  h1, h2, h3, h4, h5, h6 {
    color: white;
  }

  /* line 68, ../sass/partials/_min-width-320px.scss */
  h1.headline {
    margin-top: 4%;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    text-align: center;
    text-shadow: 4px 4px black;
    font-size: 4em;
  }

  /* line 75, ../sass/partials/_min-width-320px.scss */
  h1 {
    font-size: 5em;
  }

  /* line 78, ../sass/partials/_min-width-320px.scss */
  h2 {
    font-size: 4em;
  }

  /* line 81, ../sass/partials/_min-width-320px.scss */
  h2.articleHdr, section.homeBody h2, section.skills h2, section.workBody h2, section.workList h2, section.blogList h2, section.blogPost h2, section.projPost h2, section.contactBody h2 {
    font-size: 1.5em;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 100%;
    padding-top: 2%;
    padding-right: 0;
    padding-bottom: 2%;
    padding-left: 0;
  }

  /* line 87, ../sass/partials/_min-width-320px.scss */
  h3 {
    font-size: 3em;
  }

  /* line 90, ../sass/partials/_min-width-320px.scss */
  h4 {
    font-size: 2em;
  }

  /* line 93, ../sass/partials/_min-width-320px.scss */
  h4.bodyHdr {
    font-size: 1.5em;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    line-height: 120%;
    padding-top: 5%;
    padding-right: 0;
    padding-bottom: 5%;
    padding-left: 0;
  }

  /* line 100, ../sass/partials/_min-width-320px.scss */
  h5 {
    font-size: 1em;
  }

  /* line 103, ../sass/partials/_min-width-320px.scss */
  h6 {
    font-size: 0.75em;
  }

  /* line 107, ../sass/partials/_min-width-320px.scss */
  p.intro {
    color: white;
    font-size: 2em;
    margin-top: 3%;
    text-align: center;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 300;
    text-shadow: 2px 2px black;
  }

  /* line 116, ../sass/partials/_min-width-320px.scss */
  p {
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 150%;
  }

  /* line 122, ../sass/partials/_min-width-320px.scss */
  span.default, span.tags, section.workList span, section.blogList span, section.blogPost span, section.projPost span, section.contactBody span, span.blogTags, span.projUrl, section.projPost span.url {
    display: block;
    text-transform: uppercase;
    font-size: 1em;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 300;
    letter-spacing: 4px;
    margin-top: 2%;
    margin-right: 0;
    margin-bottom: 3%;
    margin-left: 0;
  }

  /* line 131, ../sass/partials/_min-width-320px.scss */
  span.tags:before, span.tags, section.workList span, section.blogList span, section.blogPost span, section.projPost span, section.contactBody span, section.workList span:before, section.blogList span:before, section.blogPost span:before, section.projPost span:before, section.contactBody span:before {
    content: "skills: ";
  }

  /* line 134, ../sass/partials/_min-width-320px.scss */
  span.blogTags:before, span.blogTags, section.blogList span, section.blogPost span, section.projPost span, section.blogList span:before, section.blogPost span:before, section.projPost span:before {
    content: "tags: ";
  }

  /* line 137, ../sass/partials/_min-width-320px.scss */
  span.projUrl:before, span.projUrl, section.projPost span.url, section.projPost span.url:before {
    content: "url: ";
  }

  /* line 140, ../sass/partials/_min-width-320px.scss */
  span.tags, section.workList span, section.blogList span, section.blogPost span, section.projPost span, section.contactBody span {
    font-size: 0.75em;
  }

  /* line 145, ../sass/partials/_min-width-320px.scss */
  span.blogTags, section.blogList span, section.blogPost span, section.projPost span {
    color: #95a5a6;
    font-size: 0.75em;
  }

  /* line 151, ../sass/partials/_min-width-320px.scss */
  span.projUrl, section.projPost span.url {
    color: #95a5a6;
  }

  /* line 156, ../sass/partials/_min-width-320px.scss */
  article.light {
    background: #f1c40f;
  }

  /* line 159, ../sass/partials/_min-width-320px.scss */
  article.medium {
    background: #2980b9;
  }

  /* line 162, ../sass/partials/_min-width-320px.scss */
  article.dark {
    background: black;
  }

  /* line 166, ../sass/partials/_min-width-320px.scss */
  img.default, section.workList img, section.blogList img, section.blogPost img, section.projPost img, section.contactBody img {
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    margin-top: 2%;
    margin-right: 0;
    margin-bottom: 2%;
    margin-left: 0;
  }

  /* line 171, ../sass/partials/_min-width-320px.scss */
  time.default, section.blogList time, section.blogPost time, section.projPost time {
    display: block;
    font-size: 0.75em;
    color: #bdc3c7;
    margin-top: 2%;
    margin-right: 0;
    margin-bottom: 4%;
    margin-left: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }

  /* line 181, ../sass/partials/_min-width-320px.scss */
  a.logo {
    display: block;
    text-indent: -9999px;
    width: 175px;
    height: 52px;
    margin: 0 auto;
    padding: 0;
    background: url("../img/svg/marsfolio.svg");
    background-size: 175px 52px;
    background-repeat: no-repeat;
  }

  /* line 187, ../sass/partials/_min-width-320px.scss */
  nav {
    margin: 0;
    padding: 0;
  }

  /* line 191, ../sass/partials/_min-width-320px.scss */
  ul.main {
    display: block;
    list-style-type: none;
    width: 100%;
    height: 100px;
    padding-top: 10%;
    padding-left: 1rem;
    padding-right: 0;
    margin: 0 auto;
  }
  /* line 200, ../sass/partials/_min-width-320px.scss */
  ul.main li {
    display: inline-block;
    margin-right: 2%;
    text-align: center;
  }
  /* line 204, ../sass/partials/_min-width-320px.scss */
  ul.main li a {
    color: white;
    text-decoration: none;
    font-size: 1.25em;
    background: rgba(0, 163, 255, 0.65);
    border-radius: 5px;
    padding: 10px 15px;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    transition: all .25s ease-in-out;
  }
  /* line 215, ../sass/partials/_min-width-320px.scss */
  ul.main li a:hover {
    background: #00a3ff;
    box-shadow: 5px 5px 1px #22485e;
    transition: all .25s ease-in-out;
  }
  /* line 221, ../sass/partials/_min-width-320px.scss */
  ul.main li:last-child {
    margin-right: 0;
  }
  /* line 224, ../sass/partials/_min-width-320px.scss */
  ul.main li:first-child {
    margin-left: 0;
  }

  /* line 231, ../sass/partials/_min-width-320px.scss */
  section.homeBody {
    background: white;
    float: left;
    height: auto;
    padding: 3% 10%;
  }
  /* line 235, ../sass/partials/_min-width-320px.scss */
  section.homeBody h2 {
    color: #2980b9;
  }
  /* line 239, ../sass/partials/_min-width-320px.scss */
  section.homeBody ul.coolPeeps {
    list-style-type: none;
    width: 100%;
    float: left;
    padding-top: 30px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  /* line 244, ../sass/partials/_min-width-320px.scss */
  section.homeBody ul.coolPeeps li {
    float: left;
    width: inherit;
    height: 67px;
    font-size: 1.25em;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }
  /* line 254, ../sass/partials/_min-width-320px.scss */
  section.homeBody ul.coolPeeps li a {
    width: inherit;
    height: 44px;
    padding: 20px 30px;
    margin: 0;
    color: rgba(0, 163, 255, 0.85);
    text-decoration: none;
    text-align: center;
    transition: all .25s ease-in-out;
  }
  /* line 264, ../sass/partials/_min-width-320px.scss */
  section.homeBody ul.coolPeeps li a:hover {
    color: white;
    text-decoration: none;
    border-radius: 5px;
    background: #00a3ff;
    transition: all .25s ease-in-out;
  }

  /* line 275, ../sass/partials/_min-width-320px.scss */
  section.skills {
    clear: both;
    background: #00a3ff;
    height: auto;
    padding: 3% 10%;
  }
  /* line 279, ../sass/partials/_min-width-320px.scss */
  section.skills h2 {
    color: white;
  }
  /* line 283, ../sass/partials/_min-width-320px.scss */
  section.skills p {
    color: white;
  }

  /* line 292, ../sass/partials/_min-width-320px.scss */
  section.workBody {
    background: white;
    height: auto;
    padding: 3% 10%;
  }
  /* line 295, ../sass/partials/_min-width-320px.scss */
  section.workBody h2 {
    color: #16a085;
  }

  /* line 301, ../sass/partials/_min-width-320px.scss */
  section.workList, section.blogList, section.blogPost, section.projPost, section.contactBody {
    background: #2ecc71;
    height: auto;
    padding: 3% 10%;
  }
  /* line 306, ../sass/partials/_min-width-320px.scss */
  section.workList h2 a, section.blogList h2 a, section.blogPost h2 a, section.projPost h2 a, section.contactBody h2 a {
    color: white;
    text-decoration: none;
  }
  /* line 310, ../sass/partials/_min-width-320px.scss */
  section.workList h2 a:hover, section.blogList h2 a:hover, section.blogPost h2 a:hover, section.projPost h2 a:hover, section.contactBody h2 a:hover {
    text-decoration: underline;
  }

  /* line 324, ../sass/partials/_min-width-320px.scss */
  section.blogList {
    background: white;
  }
  /* line 327, ../sass/partials/_min-width-320px.scss */
  section.blogList h2 {
    line-height: 130%;
  }
  /* line 330, ../sass/partials/_min-width-320px.scss */
  section.blogList h2 a {
    color: #c0392b;
    text-decoration: none;
  }
  /* line 334, ../sass/partials/_min-width-320px.scss */
  section.blogList h2 a:hover {
    text-decoration: underline;
  }

  /* line 351, ../sass/partials/_min-width-320px.scss */
  section.blogPost {
    background: white;
  }
  /* line 354, ../sass/partials/_min-width-320px.scss */
  section.blogPost h2 {
    color: #c0392b;
    line-height: 130%;
  }

  /* line 372, ../sass/partials/_min-width-320px.scss */
  section.projPost {
    background: white;
  }
  /* line 375, ../sass/partials/_min-width-320px.scss */
  section.projPost h2 {
    color: #16a085;
  }
  /* line 387, ../sass/partials/_min-width-320px.scss */
  section.projPost span a {
    text-decoration: none;
    color: #ff5c00;
  }
  /* line 391, ../sass/partials/_min-width-320px.scss */
  section.projPost span a:hover {
    text-decoration: underline;
  }
  /* line 395, ../sass/partials/_min-width-320px.scss */
  section.projPost img {
    margin-top: 5%;
    margin-right: 0;
    margin-bottom: 5%;
    margin-left: 0;
  }

  /* line 403, ../sass/partials/_min-width-320px.scss */
  section.contactBody {
    background: white;
  }
  /* line 406, ../sass/partials/_min-width-320px.scss */
  section.contactBody h2 {
    color: #8e44ad;
    line-height: 130%;
  }

  /* line 415, ../sass/partials/_min-width-320px.scss */
  footer.global {
    width: 100%;
    height: 40px;
    color: white;
    margin: 0;
    padding: 0;
    line-height: 40px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-align: center;
  }
}
@media (min-width: 480px) {
  /* line 3, ../sass/partials/_min-width-480px.scss */
  header.home {
    height: 19rem;
    background: url("../img/background-home.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 7, ../sass/partials/_min-width-480px.scss */
  header.work {
    height: 19rem;
    background: url("../img/background-work.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 11, ../sass/partials/_min-width-480px.scss */
  header.blog {
    height: 19rem;
    background: url("../img/background-blog.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 15, ../sass/partials/_min-width-480px.scss */
  header.contact {
    height: 19rem;
    background: url("../img/background-contact.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 19, ../sass/partials/_min-width-480px.scss */
  header.single-post {
    height: 7rem;
    background: url("../img/background-blog.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 23, ../sass/partials/_min-width-480px.scss */
  header.single-project {
    height: 7rem;
    background: url("../img/background-work.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 27, ../sass/partials/_min-width-480px.scss */
  ul.main {
    padding-left: 3rem;
  }
}
@media (min-width: 568px) {
  /* line 3, ../sass/partials/_min-width-568px.scss */
  header.home {
    height: 18rem;
    background: url("../img/background-home.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 7, ../sass/partials/_min-width-568px.scss */
  header.work {
    height: 18rem;
    background: url("../img/background-work.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 11, ../sass/partials/_min-width-568px.scss */
  header.blog {
    height: 18rem;
    background: url("../img/background-blog.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 15, ../sass/partials/_min-width-568px.scss */
  header.contact {
    height: 18rem;
    background: url("../img/background-contact.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 19, ../sass/partials/_min-width-568px.scss */
  header.single-post {
    height: 8rem;
    background: url("../img/background-blog.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 23, ../sass/partials/_min-width-568px.scss */
  header.single-project {
    height: 8rem;
    background: url("../img/background-work.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 27, ../sass/partials/_min-width-568px.scss */
  ul.main {
    padding-left: 6rem;
  }

  /* line 32, ../sass/partials/_min-width-568px.scss */
  section.homeBody ul.coolPeeps li {
    width: 50%;
  }
  /* line 34, ../sass/partials/_min-width-568px.scss */
  section.homeBody ul.coolPeeps li a {
    padding: 5% 10%;
  }
}
@media (min-width: 600px) {
  /* line 1, ../sass/partials/_min-width-600px.scss */
  ul.main {
    padding-left: 7rem;
  }
}
@media (min-width: 640px) {
  /* line 1, ../sass/partials/_min-width-640px.scss */
  header.home {
    height: 19rem;
    background: url("../img/background-home.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 5, ../sass/partials/_min-width-640px.scss */
  header.work {
    height: 19rem;
    background: url("../img/background-work.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 9, ../sass/partials/_min-width-640px.scss */
  header.blog {
    height: 19rem;
    background: url("../img/background-blog.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 13, ../sass/partials/_min-width-640px.scss */
  header.contact {
    height: 19rem;
    background: url("../img/background-contact.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 17, ../sass/partials/_min-width-640px.scss */
  header.single-post {
    height: 9rem;
    background: url("../img/background-blog.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 21, ../sass/partials/_min-width-640px.scss */
  header.single-project {
    height: 9rem;
    background: url("../img/background-work.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 25, ../sass/partials/_min-width-640px.scss */
  ul.main {
    padding-left: 8rem;
  }
}
@media (min-width: 768px) {
  /* line 3, ../sass/partials/_min-width-768px.scss */
  header.single-post {
    height: 11rem;
    background: url("../img/background-blog.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 7, ../sass/partials/_min-width-768px.scss */
  header.single-project {
    height: 11rem;
    background: url("../img/background-work.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 11, ../sass/partials/_min-width-768px.scss */
  ul.main {
    padding-left: 12rem;
  }
}
@media (min-width: 800px) {
  /* line 3, ../sass/partials/_min-width-800px.scss */
  header.home {
    height: 21rem;
    background: url("../img/background-home.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 7, ../sass/partials/_min-width-800px.scss */
  header.work {
    height: 21rem;
    background: url("../img/background-work.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 11, ../sass/partials/_min-width-800px.scss */
  header.blog {
    height: 21rem;
    background: url("../img/background-blog.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 15, ../sass/partials/_min-width-800px.scss */
  header.contact {
    height: 21rem;
    background: url("../img/background-contact.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 19, ../sass/partials/_min-width-800px.scss */
  header.single-post {
    height: 11rem;
    background: url("../img/background-blog.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 23, ../sass/partials/_min-width-800px.scss */
  header.single-project {
    height: 11rem;
    background: url("../img/background-work.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 27, ../sass/partials/_min-width-800px.scss */
  ul.main {
    padding-left: 13rem;
  }

  /* line 30, ../sass/partials/_min-width-800px.scss */
  h1.headline {
    margin-top: 3rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}
@media (min-width: 960px) {
  /* line 3, ../sass/partials/_min-width-960px.scss */
  header.home {
    height: 22rem;
    background: url("../img/background-home.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 7, ../sass/partials/_min-width-960px.scss */
  header.work {
    height: 22rem;
    background: url("../img/background-work.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 11, ../sass/partials/_min-width-960px.scss */
  header.blog {
    height: 22rem;
    background: url("../img/background-blog.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 15, ../sass/partials/_min-width-960px.scss */
  header.contact {
    height: 22rem;
    background: url("../img/background-contact.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 19, ../sass/partials/_min-width-960px.scss */
  header.single-post {
    height: 13rem;
    background: url("../img/background-blog.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 23, ../sass/partials/_min-width-960px.scss */
  header.single-project {
    height: 13rem;
    background: url("../img/background-work.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 27, ../sass/partials/_min-width-960px.scss */
  ul.main {
    padding-left: 17rem;
  }

  /* line 30, ../sass/partials/_min-width-960px.scss */
  h1.headline {
    margin-top: 4rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  /* line 44, ../sass/partials/_min-width-960px.scss */
  section.homeBody,
  section.skills,
  section.blogList,
  section.workBody,
  section.workList,
  section.contactBody,
  section.projPost,
  section.blogPost {
    width: 100%;
  }
  /* line 46, ../sass/partials/_min-width-960px.scss */
  section.homeBody div.maxWidthWrapper,
  section.skills div.maxWidthWrapper,
  section.blogList div.maxWidthWrapper,
  section.workBody div.maxWidthWrapper,
  section.workList div.maxWidthWrapper,
  section.contactBody div.maxWidthWrapper,
  section.projPost div.maxWidthWrapper,
  section.blogPost div.maxWidthWrapper {
    width: 777px;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  /* line 3, ../sass/partials/_min-width-1024px.scss */
  header.single-post {
    height: 14rem;
    background: url("../img/background-blog.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 7, ../sass/partials/_min-width-1024px.scss */
  header.single-project {
    height: 14rem;
    background: url("../img/background-work.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 11, ../sass/partials/_min-width-1024px.scss */
  ul.main {
    padding-left: 19rem;
  }
}
@media (min-width: 1080px) {
  /* line 2, ../sass/partials/_min-width-1080px.scss */
  header.home {
    height: 23rem;
    background: url("../img/background-home.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 6, ../sass/partials/_min-width-1080px.scss */
  header.work {
    height: 23rem;
    background: url("../img/background-work.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 10, ../sass/partials/_min-width-1080px.scss */
  header.blog {
    height: 23rem;
    background: url("../img/background-blog.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 14, ../sass/partials/_min-width-1080px.scss */
  header.contact {
    height: 23rem;
    background: url("../img/background-contact.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 18, ../sass/partials/_min-width-1080px.scss */
  header.single-post {
    height: 15rem;
    background: url("../img/background-blog.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 22, ../sass/partials/_min-width-1080px.scss */
  header.single-project {
    height: 15rem;
    background: url("../img/background-work.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 26, ../sass/partials/_min-width-1080px.scss */
  ul.main {
    padding-left: 21rem;
  }
}
@media (min-width: 1280px) {
  /* line 2, ../sass/partials/_min-width-1280px.scss */
  header.home {
    height: 27rem;
    background: url("../img/background-home.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 6, ../sass/partials/_min-width-1280px.scss */
  header.work {
    height: 27rem;
    background: url("../img/background-work.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 10, ../sass/partials/_min-width-1280px.scss */
  header.blog {
    height: 27rem;
    background: url("../img/background-blog.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 14, ../sass/partials/_min-width-1280px.scss */
  header.contact {
    height: 27rem;
    background: url("../img/background-contact.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 18, ../sass/partials/_min-width-1280px.scss */
  header.single-post {
    height: 17rem;
    background: url("../img/background-blog.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 22, ../sass/partials/_min-width-1280px.scss */
  header.single-project {
    height: 17rem;
    background: url("../img/background-work.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 26, ../sass/partials/_min-width-1280px.scss */
  ul.main {
    padding-left: 28rem;
  }
}
@media (min-width: 1366px) {
  /* line 2, ../sass/partials/_min-width-1366px.scss */
  header.home {
    height: 29rem;
    background: url("../img/background-home.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 6, ../sass/partials/_min-width-1366px.scss */
  header.work {
    height: 29rem;
    background: url("../img/background-work.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 10, ../sass/partials/_min-width-1366px.scss */
  header.blog {
    height: 29rem;
    background: url("../img/background-blog.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 14, ../sass/partials/_min-width-1366px.scss */
  header.contact {
    height: 29rem;
    background: url("../img/background-contact.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 18, ../sass/partials/_min-width-1366px.scss */
  header.single-post {
    height: 19rem;
    background: url("../img/background-blog.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 22, ../sass/partials/_min-width-1366px.scss */
  header.single-project {
    height: 19rem;
    background: url("../img/background-work.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 26, ../sass/partials/_min-width-1366px.scss */
  ul.main {
    padding-left: 30rem;
  }
}
@media (min-width: 1680px) {
  /* line 2, ../sass/partials/_min-width-1680px.scss */
  header.home {
    height: 29rem;
    background: url("../img/background-home.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 6, ../sass/partials/_min-width-1680px.scss */
  header.work {
    height: 29rem;
    background: url("../img/background-work.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 10, ../sass/partials/_min-width-1680px.scss */
  header.blog {
    height: 29rem;
    background: url("../img/background-blog.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 14, ../sass/partials/_min-width-1680px.scss */
  header.contact {
    height: 29rem;
    background: url("../img/background-contact.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 18, ../sass/partials/_min-width-1680px.scss */
  header.single-post {
    height: 17rem;
    background: url("../img/background-blog.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 22, ../sass/partials/_min-width-1680px.scss */
  header.single-project {
    height: 17rem;
    background: url("../img/background-work.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 26, ../sass/partials/_min-width-1680px.scss */
  ul.main {
    padding-left: 39rem;
    padding-top: 8rem;
  }

  /* line 30, ../sass/partials/_min-width-1680px.scss */
  h1.headline {
    margin-top: 5rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}
@media (min-width: 1920px) {
  /* line 2, ../sass/partials/_min-width-1920px.scss */
  header.home {
    height: 29rem;
    background: url("../img/background-home.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 6, ../sass/partials/_min-width-1920px.scss */
  header.work {
    height: 29rem;
    background: url("../img/background-work.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 10, ../sass/partials/_min-width-1920px.scss */
  header.blog {
    height: 29rem;
    background: url("../img/background-blog.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 14, ../sass/partials/_min-width-1920px.scss */
  header.contact {
    height: 29rem;
    background: url("../img/background-contact.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 18, ../sass/partials/_min-width-1920px.scss */
  header.single-post {
    height: 17rem;
    background: url("../img/background-blog.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 22, ../sass/partials/_min-width-1920px.scss */
  header.single-project {
    height: 17rem;
    background: url("../img/background-work.png") no-repeat;
    background-position: center center;
    background-size: cover;
  }

  /* line 26, ../sass/partials/_min-width-1920px.scss */
  ul.main {
    padding-left: 46rem;
    padding-top: 8rem;
  }

  /* line 30, ../sass/partials/_min-width-1920px.scss */
  h1.headline {
    margin-top: 5rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}
