

// COLORS

$white: white;
$burnt: #FF5C00;
$blue: rgba(0, 163, 255, 0.65);
$yellow: #f1c40f;
$black: #000000;
$lt-grey: #bababa;

$footer-p: rgb(255, 172, 66);

$font-color: #f9e382;

$header-color: darken($font-color, 7.77%);

$alt-text-color: #ffffff;

$background-color: #FF5C00;

$border-color: #bababa;

$link-nav-color: white;

$link-color: rgba(0, 163, 255, 0.85);

$link-hover-color: #FFF500;

$link-active-color: darken($link-color, 10%);

$link-focus-color: $link-hover-color;

$link-visited-color: lighten($link-color, 10%);

//  NAV BUTTON

$nav-background: $blue;
$nav-background-hover: rgba(0, 163, 255, 1);

// BUTTON FONT

$font-regular: 'Open Sans', sans-serif;
$font-condensed: 'Open Sans Condensed', sans-serif;

//  BUTTON COLOR

$button-background-color: #f9e382;

$button-border-color: darken($button-background-color, 10%);

$button-font-color: white;

//  BUTTON HOVER COLORS

$button-hover-background-color: darken($button-background-color, 35%);

$button-hover-border-color: darken($button-hover-background-color, 10%);

$button-hover-font-color: white;

$button-active-border-color: #61e09a;

// BUTTON DEFAULT ACTIVE COLORS

$button-active-background-color: #61e09a;

$button-active-font-color: white;

//  FONT WEIGHTS

$light: 300;
$normal: 400;
$bold: 700;
$extra-bold: 800;

//  FONT FAMILIES

@mixin light-condensed {
  font-family: $font-condensed;
  font-weight: $light; 
}
@mixin light-condensed-bold {
  font-family: $font-condensed;
  font-weight: $bold; 
}
@mixin normal-regular {
  font-family: $font-regular;
  font-weight: $normal; 
}
@mixin bold-regular {
  font-family: $font-regular;
  font-weight: $bold; 
}
@mixin extraBold-regular {
  font-family: $font-regular;
  font-weight: $extra-bold; 
}

@mixin uppercase {
  text-transform: uppercase;
}

//  FONT SIZES

$p: 1em;
$h1: 5em;
$h2: 4em;
$h3: 3em;
$h4: 2em;
$h5: 1em;
$h6: 0.75em;
$small: 0.5em;

$oneEm: 1em;
$one25Em: 1.25em;
$one5Em: 1.5em;
$one75Em: 1.75em;
$twoEm: 2em;
$threeEm: 3em;
$fourEm: 4em;
$fiveEm: 5em;


//  FONT STYLES

@mixin text-shadow-bold {
  text-shadow: 4px 4px black;
}
@mixin text-shadow-light {
  text-shadow: 2px 2px black;
}
@mixin drop-shadow {
  box-shadow: 5px 5px 1px rgba(34, 72, 94, 1);
}
@mixin letter-spacing {
  letter-spacing: 4px;
}

//  POSITIONING

@mixin center {
  text-align: center;
}
@mixin text-right {
  text-align: right;
}
@mixin text-left {
  text-align: left;
}
@mixin left {
  float: left;
}
@mixin right {
  float: right;
}
@mixin v-top {
  vertical-align: top;
}
@mixin v-center {
  vertical-align: middle;
}

// TRANSITIONS

@mixin ease-in-out {
  transition: all .25s ease-in-out;

}

// BACKGROUND IMAGES

@mixin background-default {
  background-color: $background-color;
  background-position: center center;
  background-size: cover;
}
@mixin background-home {
  background: url('../img/background-home.png') no-repeat;
  @include background-default;
}
@mixin background-work {
  background: url('../img/background-work.png') no-repeat;
  @include background-default;
}
@mixin background-blog {
  background: url('../img/background-blog.png') no-repeat;
  @include background-default;
}


// SECTIONS

@mixin section-default {
  height: auto;
  padding: 5% 10%;
}


