

@mixin v-align ($lh) {
  line-height: $lh;
}

@mixin padding ($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

@mixin margin ($top, $right, $bottom, $left) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

@mixin border ($width, $style, $color) {
  border-width: $width;
  border-style: $style;
  border-color: $color;
}

@mixin width($w) {
  width: $w;
}
