
// NAVIGATION & HEADER
header.home {
  height: 18rem;
  @include background-home;
}
header.work {
  height: 18rem;
  @include background-work;
}
header.blog {
  height: 18rem;
  @include background-blog;
}
header.contact {
  height: 18rem;
  @include background-contact;
}
header.single-post {
	height: 8rem;
    @include background-blog;
}
header.single-project {
	height: 8rem;
    @include background-work;
}
ul.main {
	padding-left: 6rem;
}
section.homeBody {
  ul.coolPeeps {
    li {
      width: 50%;
      a {
        padding: 5% 10%;
      }
    }
  }
}