/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@media (min-width: 320px) {
  /* line 1, ../sass/partials/_min-width-320px.scss */
  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 5, ../sass/partials/_min-width-320px.scss */
  html {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

  /* line 10, ../sass/partials/_min-width-320px.scss */
  body {
    background-color: #ff5c00;
    margin: 0;
    padding: 0;
  }

  /* line 15, ../sass/partials/_min-width-320px.scss */
  header.default, header.home, header.work, header.blog {
    height: 300px;
    margin: 0;
    padding: 0;
  }

  /* line 20, ../sass/partials/_min-width-320px.scss */
  header.short, header.single-post {
    height: 100px;
    margin: 0;
    padding: 0;
  }

  /* line 25, ../sass/partials/_min-width-320px.scss */
  header.home {
    background: url("../img/background-home.png") no-repeat;
    background-color: #ff5c00;
    background-position: center center;
    background-size: cover;
  }

  /* line 29, ../sass/partials/_min-width-320px.scss */
  header.work {
    background: url("../img/background-work.png") no-repeat;
    background-color: #ff5c00;
    background-position: center center;
    background-size: cover;
  }

  /* line 33, ../sass/partials/_min-width-320px.scss */
  header.blog {
    background: url("../img/background-blog.png") no-repeat;
    background-color: #ff5c00;
    background-position: center center;
    background-size: cover;
  }

  /* line 37, ../sass/partials/_min-width-320px.scss */
  header.single-post {
    background: url("../img/background-blog.png") no-repeat;
    background-color: #ff5c00;
    background-position: center center;
    background-size: cover;
  }

  /* line 41, ../sass/partials/_min-width-320px.scss */
  h1, h2, h3, h4, h5, h6 {
    color: white;
  }

  /* line 44, ../sass/partials/_min-width-320px.scss */
  h1.headline {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    text-align: center;
    text-shadow: 4px 4px black;
    font-size: 4em;
  }

  /* line 50, ../sass/partials/_min-width-320px.scss */
  h1 {
    font-size: 5em;
  }

  /* line 53, ../sass/partials/_min-width-320px.scss */
  h2 {
    font-size: 4em;
  }

  /* line 56, ../sass/partials/_min-width-320px.scss */
  h2.articleHdr, section.workList h2, section.blogList h2, section.blogPost h2 {
    font-size: 1.5em;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    line-height: 100%;
    padding-top: 5%;
    padding-right: 0;
    padding-bottom: 5%;
    padding-left: 0;
  }

  /* line 62, ../sass/partials/_min-width-320px.scss */
  h3 {
    font-size: 3em;
  }

  /* line 65, ../sass/partials/_min-width-320px.scss */
  h4 {
    font-size: 2em;
  }

  /* line 68, ../sass/partials/_min-width-320px.scss */
  h4.bodyHdr, section.main h4, section.skills h4, section.work h4 {
    font-size: 1.5em;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    line-height: 120%;
    padding-top: 5%;
    padding-right: 0;
    padding-bottom: 5%;
    padding-left: 0;
  }

  /* line 75, ../sass/partials/_min-width-320px.scss */
  h5 {
    font-size: 1em;
  }

  /* line 78, ../sass/partials/_min-width-320px.scss */
  h6 {
    font-size: 0.75em;
  }

  /* line 82, ../sass/partials/_min-width-320px.scss */
  p.intro {
    color: white;
    font-size: 2em;
    margin-top: 5%;
    text-align: center;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 300;
    text-shadow: 2px 2px black;
  }

  /* line 91, ../sass/partials/_min-width-320px.scss */
  p {
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 150%;
  }

  /* line 97, ../sass/partials/_min-width-320px.scss */
  span.default, span.tags, section.workList span, section.blogList span, section.blogPost span, span.blogTags {
    display: block;
    text-transform: uppercase;
    font-size: 1em;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 300;
    letter-spacing: 4px;
    margin-top: 2%;
    margin-right: 0;
    margin-bottom: 3%;
    margin-left: 0;
  }

  /* line 106, ../sass/partials/_min-width-320px.scss */
  span.tags:before, span.tags, section.workList span, section.blogList span, section.blogPost span, section.workList span:before, section.blogList span:before, section.blogPost span:before {
    content: "skills: ";
  }

  /* line 109, ../sass/partials/_min-width-320px.scss */
  span.blogTags:before, span.blogTags, section.blogList span, section.blogPost span, section.blogList span:before, section.blogPost span:before {
    content: "tags: ";
  }

  /* line 121, ../sass/partials/_min-width-320px.scss */
  article.light {
    background: #f1c40f;
  }

  /* line 124, ../sass/partials/_min-width-320px.scss */
  article.medium {
    background: rgba(0, 163, 255, 0.65);
  }

  /* line 127, ../sass/partials/_min-width-320px.scss */
  article.dark {
    background: black;
  }

  /* line 131, ../sass/partials/_min-width-320px.scss */
  img.default, section.workList img, section.blogList img, section.blogPost img {
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    margin-top: 2%;
    margin-right: 0;
    margin-bottom: 2%;
    margin-left: 0;
  }

  /* line 136, ../sass/partials/_min-width-320px.scss */
  time.default, section.blogList time, section.blogPost time {
    display: block;
    font-size: 0.75em;
    color: #bababa;
    margin-top: 2%;
    margin-right: 0;
    margin-bottom: 4%;
    margin-left: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }

  /* line 146, ../sass/partials/_min-width-320px.scss */
  nav {
    margin: 0;
    padding: 0;
  }

  /* line 150, ../sass/partials/_min-width-320px.scss */
  ul.main {
    display: block;
    list-style-type: none;
    width: 100%;
    height: 100px;
    padding-top: 10%;
    margin: 0;
  }
  /* line 157, ../sass/partials/_min-width-320px.scss */
  ul.main li {
    display: inline-block;
    margin-right: 2%;
    text-align: center;
  }
  /* line 161, ../sass/partials/_min-width-320px.scss */
  ul.main li a {
    color: white;
    text-decoration: none;
    font-size: 1.25em;
    background: rgba(0, 163, 255, 0.65);
    border-radius: 5px;
    padding: 10px 15px;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    transition: all .25s ease-in-out;
  }
  /* line 172, ../sass/partials/_min-width-320px.scss */
  ul.main li a:hover {
    background: #00a3ff;
    box-shadow: 5px 5px 1px #22485e;
    transition: all .25s ease-in-out;
  }
  /* line 178, ../sass/partials/_min-width-320px.scss */
  ul.main li:last-child {
    margin-right: 0;
  }
  /* line 181, ../sass/partials/_min-width-320px.scss */
  ul.main li:first-child {
    margin-left: 4%;
  }

  /* line 188, ../sass/partials/_min-width-320px.scss */
  section.main {
    background: white;
    height: auto;
    padding: 5% 10%;
  }
  /* line 191, ../sass/partials/_min-width-320px.scss */
  section.main h4 {
    color: #ff5c00;
  }
  /* line 195, ../sass/partials/_min-width-320px.scss */
  section.main ul.coolPeeps {
    list-style-type: none;
    width: 100%;
    padding-top: 30px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  /* line 199, ../sass/partials/_min-width-320px.scss */
  section.main ul.coolPeeps li {
    width: inherit;
    height: 67px;
    font-size: 1.25em;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }
  /* line 208, ../sass/partials/_min-width-320px.scss */
  section.main ul.coolPeeps li a {
    width: inherit;
    height: 44px;
    padding: 20px 30px;
    margin: 0;
    color: rgba(0, 163, 255, 0.85);
    text-decoration: none;
    transition: all .25s ease-in-out;
  }
  /* line 217, ../sass/partials/_min-width-320px.scss */
  section.main ul.coolPeeps li a:hover {
    color: white;
    text-decoration: none;
    border-radius: 5px;
    background: #00a3ff;
    transition: all .25s ease-in-out;
  }

  /* line 228, ../sass/partials/_min-width-320px.scss */
  section.skills {
    background: #00a3ff;
    height: auto;
    padding: 5% 10%;
  }
  /* line 231, ../sass/partials/_min-width-320px.scss */
  section.skills h4 {
    color: white;
  }
  /* line 235, ../sass/partials/_min-width-320px.scss */
  section.skills p {
    color: white;
  }

  /* line 244, ../sass/partials/_min-width-320px.scss */
  section.work {
    background: white;
    height: auto;
    padding: 5% 10%;
  }
  /* line 247, ../sass/partials/_min-width-320px.scss */
  section.work h4 {
    color: #ff5c00;
  }

  /* line 253, ../sass/partials/_min-width-320px.scss */
  section.workList, section.blogList, section.blogPost {
    height: auto;
    padding: 5% 10%;
  }
  /* line 257, ../sass/partials/_min-width-320px.scss */
  section.workList h2 a, section.blogList h2 a, section.blogPost h2 a {
    color: white;
    text-decoration: none;
  }
  /* line 261, ../sass/partials/_min-width-320px.scss */
  section.workList h2 a:hover, section.blogList h2 a:hover, section.blogPost h2 a:hover {
    text-decoration: underline;
  }
  /* line 265, ../sass/partials/_min-width-320px.scss */
  section.workList span, section.blogList span, section.blogPost span {
    color: #f1c40f;
  }

  /* line 276, ../sass/partials/_min-width-320px.scss */
  section.blogList {
    background: white;
  }
  /* line 281, ../sass/partials/_min-width-320px.scss */
  section.blogList h2 a {
    color: #ff5c00;
    text-decoration: none;
  }
  /* line 285, ../sass/partials/_min-width-320px.scss */
  section.blogList h2 a:hover {
    text-decoration: underline;
  }
  /* line 292, ../sass/partials/_min-width-320px.scss */
  section.blogList span {
    color: rgba(0, 163, 255, 0.65);
  }

  /* line 303, ../sass/partials/_min-width-320px.scss */
  section.blogPost {
    background: white;
  }
  /* line 306, ../sass/partials/_min-width-320px.scss */
  section.blogPost h2 {
    color: #ff5c00;
  }
  /* line 313, ../sass/partials/_min-width-320px.scss */
  section.blogPost span {
    color: rgba(0, 163, 255, 0.65);
  }

  /* line 325, ../sass/partials/_min-width-320px.scss */
  footer.global {
    width: 100%;
    height: 40px;
    color: #ffac42;
    margin: 0;
    padding: 0;
    line-height: 40px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-align: center;
  }
}
